@media (max-width: 1400px) 
{
    #ninecard2 img
    {
        height: 235;
    }    
}
@media (max-width: 1200px) 
{
    #ninecard2 img
    {
        height: 235;
    }    
}
@media (max-width: 992px) 
{
    #ninecard2 img
    {
        height: 235;
    }    
}