*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: #fff;
}

.col-100
{
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

.col-20
{
    background: rgb(3 25 39);
    width: 20%;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /* padding-bottom: 100px; */
}
#img1
{
    width: 120px;
    height: 120px;
    object-fit: cover;
    /* border: 5px solid red; */
    margin: 15px;
    border-radius: 50%;
}
.icons i
{
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    margin: 20px 5px;
}
.menus li
{
    display: flex;
    column-gap: 10px;
    color: #a8a9b4;
    font-size: 15px;
    padding: 20px;
    align-items: center;
}
#email
{
    text-transform: none;
    font-weight: 500;
}
.changes
{
    text-align: center;
}
.copyright
{
    padding: 20px 0px 96px 40px;
}
.copyright p
{
    padding: 5px 0px ;
}
.menus i
{
    font-size: 24px ;
}
.menus
{
    align-items: center;
    list-style: none;
}
.icons i:hover
{
    background-color: #149ddd;
    color: white;
}
.col-80
{
    
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
}
.images2 img
{
    width: 100%;
}
.images2 
{
    padding-bottom: 50px;
    width: 100%;
}

#about
{
    background-color: rgb(3 25 39);
}
#about h2
{
    color: #173b6c;
    font-size: 32px;
    padding: 20px 0px 10px;
}

#p2
{
   font-size: 16px;
   padding-bottom: 20px; 
}

#div2
{
    width: 50px;
    border-bottom: 5px solid #149ddd;
    margin-bottom: 10px;
}
#about
{
    padding: 0px 20px;
}
.images3
{
    width: 30%;
    /* width: 320px; */
}
.images3 img
{
    width: 100%;
    border-radius: 50%;
}
.division
{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px 0px 100px;
}

.info
{
    width: 70%;
}

.main-userinfo
{
    padding: 10px 0px 20px;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.main-userinfo i
{
    color: #5ebce8;
}

li
{
    list-style: none;
    padding:10px 0px;
}
.main-userinfo span
{
    font-size: 16px;
    font-weight: bold;
}
#p3
{
    font-size: 16px;
    margin-bottom: 50px;
}
.Facts
{
    padding: 0px 20px 50px;
}
.Facts h3
{
    color: #173b6c;
    font-size: 32px;
    padding-bottom: 10px;
}
#p4
{
    font-size: 16px;
    padding: 20px 0px 40px;
}
.emoji i
{
    font-size: 44px;
    color: #149ddd;
    padding-top: 5px;
}
.facts-card-text span
{
    font-size: 48px;
    font-weight: 700;
}
.cards
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.min-card1
{
    display: flex;
    column-gap: 15px;
}
#Happy
{
    padding-top: 10px;
    font-weight: bold;
}
#consectetur
{
    padding-top: 5px;
    font-size: 14px;
    color: #122f57;
}
.Skills
{
    background: #f5f8fd;
    padding: 0px 20px 20px;
}
.Skills h3
{
    color: #173b6c;
    font-size: 32px;
    padding: 40px 0px 10px;
    padding-bottom: 10px;   
}
#progress-bar-html
{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    background-color: #149ddd;
}

#progress-bar-css
{
    margin-top: 10px;
    width: 90%;
    padding: 10px 0px;
    background-color: #149ddd;
}

#progress-bar-js
{
   margin-top: 10px;
   width: 70%;
   padding: 10px 0px;
   background-color: #149ddd; 
}

#progress-bar-jquery
{
    padding: 10px 0px;
    margin-top: 10px;
    width: 70%;
    background-color: #149ddd;  
}

#card2-p1
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.cards2
{
    padding-bottom: 50px;
}
#resume
{
    padding: 100px 20px;
    background-color: rgb(3 25 39);
    color: #fff;
    
}
#resume h3
{
    color: #173b6c;
    font-size: 32px;
    padding-bottom: 30px; 
}

.menus a:hover i
{
    color: #149ddd;
}
.deepak-rajput h4,p
{
    padding: 10px 0px;
}
#Educationh4
{
    padding: 10px 0px;
    color: skyblue;
    font-size: 25px;
}
.Education h5
{
    font-size: 20px;
    color: #173b6c;
}
.self-info h4,.Education h4
{
    font-size: 22px;
}
.deepak-rajput p
{
    font-size: 17px;
}
.Education p
{
    font-size: 18px;
    font-weight: 600;
}
#portfolio
{
    padding: 0px 20px;
}
#portfolio h3
{
    color: #173b6c;
    font-size: 32px;
    padding: 40px 0px 10px;
    padding-bottom: 10px; 
}

#card1img
{
    width: 364px;
    height: 273px;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    /* object-fit: cover; */
}

.web-cards
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.web-card1
{
    overflow: hidden;
}
#card1img:hover
{
    transform: scale(1.1);
}

#web-card-name
{
text-align: center;
color: #fff;
background-color: rgb(3 25 39);
}

.Bcci-logo
{
    object-fit: cover;
}

#contact
{
    background-color: rgb(3 25 39);
    color: whitesmoke;
    margin: 50px 0px 0px;
    padding: 50px 0px;
}
.contact-info
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 50px 0px 30px 100px;
}
#contact h3
{
    padding: 20px 0px;
    font-size: 32px;
}
.contact-info h4
{
    font-size: 32px;
}
.contact-info a
{
    color: #fff;
}
.contact-info a:hover
{
    color: skyblue;
}