.header1
        {
            width: 100%;
            background: url(../netfilx/images/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_large.jpg) no-repeat center center/cover;
            box-sizing: border-box;
            border-bottom: 8px solid #232323;
        }
        .main1
        {
            padding: 0px 70px;
        }
        .Netflixlogo
        {
            padding: 30px 0px 0px 40px;
            width: 200px;
            /* color: rgb(229 9 20); */
        }
        nav{
            display: flex;
            justify-content: space-between;
        }
        .English
        {
            padding: 12px 30px;
            border-radius: 5px;
            border: 0px;
            background-color: #e50914;
            margin: 30px;
            /* margin-bottom: 0px; */
        }
        #bhargav
        {
            padding: 0px 40px 0px 20px;
            margin-left: 20px;
            height: 40px;
            border: 0px;
            border-radius: 5px;
            background-color: #161414;
            color: rgb(255 255 255);
        }
        .janu
        {
            color: rgb(255 255 255);
            text-align: center;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
            /* padding-bottom: 100px; */
            padding-top: 100px;
            /* border: 2px solid red; */
        }
        #first
        { 
            font-size: 40px;
            margin-bottom: 0px;
        }
        #p1
        {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 0px;
        }
        #p2
        {
            font-size: 20px;
            margin-top: 5px;
            margin-left: 40px;
            margin-right: 40px;
        }
        #input2
        {
            padding: 17px;
            /* margin-right: 100px; */
            background-color: #181514;
            color: rgb(255 255 255);
            border-radius: 5px;
            border: 0px;
            padding-right: 100px;
            /* margin-bottom: 15px; */
        }
        #Started
        {
            padding: 11px 30px 14px 40px;
            color: rgb(255 255 255);
            background-color: #e50914;
            border-radius: 5px;
            border: 0px;
            font-size: 20px;
            margin-right: 10px;
            margin-top: 5px;
        }
        .fa-solid fa-greater-than
        {
            color: rgb(255 255 255);
            font-size: 22px;
            margin-left: 13px;
        }
        .login
        {
            display: flex;
            justify-content: center;
            padding-bottom: 100px;
            margin-bottom: 60px;
        }
        .keval
        {
            margin-right: 10px;
        }
        .header2,.header3,.header4,.header5
        {
            background-color: rgb(0 0 0);
            box-sizing: border-box;
            margin: 0;
            padding-top: 10px;
            border-bottom: 8px solid #232323;
        }
        .card2,.card3,.card4,.card5
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            column-gap: 50px;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        .main2,.main3,.main4,.main5
        {
            width: 70%;
            margin: 0 auto;
            margin-top: 50px;
            padding-bottom: 90px;
            /* border: 5px solid red; */
        }
        .jay2,.jay3,.jay4,.jay5
        {
            width: 50%;
            color: rgb(255 255 255);
            margin-top: 40px;
        }
        .tv3,.tv5
        {
            width: 50%;
            /* margin-left: 100px; */
            margin-top: 10px;
        }
        .tv4
        {
            position: relative;
            width: 50%;
            margin-top: 10px;
            z-index: 1;
        }
        .tv2
        {
            position: relative;
            width: 50%;
            margin-top: 10px;
            z-index: 1;
        }
        #images10
        {
            /* position: relative; */
            z-index: 1;
        }
        #video1
        {
            position: absolute;
            /* z-index: 1; */
            top: 70px;
            left:58px;
            width: 320px;
        }
        #second2,#second3,#second4,#second5
        {
            font-size: 35px;
            margin-top: 60px;
            margin-right: -20px;
        }
        #p3,#p11,#p12,#p13
        {
            font-size: 18px;
        }
        .block
        {
            display: flex;
            justify-content: space-between;
            color: rgb(255 255 255);
            align-items: center;
            background-color: rgb(45 45 45);
            /* border: 2px solid red; */
            padding: 0px 10px;
            margin: 7px 0px;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        .header6
        {
            background-color: rgb(0 0 0);
            box-sizing: border-box;
            /* margin: 0 auto; */
            padding-top: 10px;
            border-bottom: 8px solid #232323
        }
        .maintitel
        {
            margin: 0 auto;
            width: 70%;
        }
        .samllblock
        {
            color: rgb(255 255 255);
            border: 2px solid rgb(45 45 45);
            padding: 0px 10px;
            display: none;
            background-color: rgb(45 45 45);
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        #p4
        {
            font-size: 40px;
            color: rgb(255 255 255);
            text-align: center;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
            font-weight: 700;
        }
        .janu2
        {
            color: rgb(255 255 255);
            text-align: center;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
            padding-top: 30px;
        }
        .login2
        {
            display: flex;
            justify-content: center;
            padding-bottom: 70px;
        }
        footer
        {
            background: rgb(0 0 0);
            color: white;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        footer ul
        {
            list-style: none;
        }
        .lists
        {
            display: flex;
            justify-content: space-around;
            margin-left: -15px;
        }
        .wrapper-last
        {
            width: 80%;
            margin: 0 auto;
            padding: 50px 0px 70px;
            color: rgba(255,255,255,0.7);
        }
        #hard
        {
            padding-bottom: 0px;
            font-size: 20px;
        }

        .lists li
        {
            padding: 10px 0px;       
        }
        #select1
        {
            padding: 5px 20px;
            margin: 20px 0px 20px 60px;
            background: transparent;
            color: white;
        }
        #select1+#p1
        {
            /* padding-left: 60px; */
            font-size: 15px;
        }
        
        .wrapper-last a
        {
            color: rgba(255,255,255,0.7);
        }
        a:active
        {
            color: red;
        }


        /* media qurye :start */


        @media (max-width: 1400px) 
        { 
         #hard
         {
             font-size: 20px;
             padding-left: 65px;
         }
 
         #select1
         {
             margin-left: 60px;
         }
         #select1+#p1
         {
             margin-left: 60px;
         }
        }

        

        @media (max-width: 1200px) 
       { 
        #hard
        {
            font-size: 20px;
            padding-left: 48px;
        }

        #select1
        {
            margin-left: 48px;
        }
        #select1+#p1
        {
            margin-left: 48px;
        }
       }



       @media (max-width: 992px) 
       { 
        #hard
        {
            font-size: 20px;
            padding-left: 30px;
        }

        #select1
        {
            margin-left: 28px;
        }
        #select1+#p1
        {
            margin-left: 28px;
        }
       }



       @media (max-width: 768px)
       {
        .card2,.card3,.card4,.card5
        {
            width: 100%;
            column-gap: 50px;
        }
        .tv2,.tv3,.tv4,.tv5
        {
            width: 50%;
            margin-top: 0px;
        }
        #p3,#p11,#p12,#p13
        {
            font-size: 13px;
        }
        .main2,.main3,.main4,.main5
        {
            margin: 0 auto;
            margin-top: 50px;
            padding-bottom: 50px;
        }
        #second2,#second3,#second4,#second5
        {
            font-size: 18px;
            margin-top: 50px;
        }
        .lists li
        {
            font-size: 11px;      
        }
        #select1
        {
            font-size: 11px;
        }
        #select1+#p1
        {
            font-size: 12px;
        }
        #hard
        {
            margin-left: 0px;
        }
       }



       @media (max-width: 576px)
       {
        .main1
        {
            padding: 0px 0px;    
        }
        svg
        {
            width: 140px;
        }
        .janu
        {
            padding-top: 70px;
        }
        #first
        {
            margin: 0px 20px;
            font-size: 35px;
        }
        #p1
        {
            font-size: 20px;
        }
        #p2
        {
            font-size: 20px;
        }
        .tv2,.tv3,.tv4,.tv5
        {
            margin-top: 30px;
            margin-bottom: 40px;
        }
        #p4
        {
            font-size: 25px;
        }
        .maintitel
        {
            width: 90%;
        }
        #Started
        {
            font-size: 12px;
        }
        #input2
        {
            padding: 11px 10px 14px;
        }
        #hard
        {
            margin-left: 0px;
        }
        .wrapper-last
        {
            width: 95%;
            margin: 0px 10px;
        }
       }