*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    flex-direction: row;
}
.mehul{
    display: flex;
    background-color: #b12946;
    justify-content: space-evenly;
}
.mehul img
{
    padding: 10px 0px;
}
h2{
    padding: 27px 0px;
    color: #efefef;
    /* font-size: 20px; */
}
.jaypal{
    background: url(./image/home.jpg) no-repeat center/cover;
    text-align: center;
    color: #feedda;
    font-family: "Yeseva One";
    padding: 100px;
}
.mini
{
    padding: 0px 40px;
    margin: 0px 20px;
}
#under
{
    margin: 0px 100px 20px;
    padding: 0px 100px;
    font-size: 90px;
}
.jay{
    font-size: 25px;
    padding: 10px 90px 50px;
    color: #fefefe;
}
.keval{
    padding: 12px 80px;
    margin-bottom: 30px;
    background-color: #b12946;
    color: white;
    font-size: large;
    border: 0px;
}
.page2
{
    width: 100%;    
    background-color: #b13941;
    display: flex;
    padding-bottom: 30px;
}
.page2 img
{
    margin-left: 50px;
    padding: 100px;
}
.minipage2
{
    margin-left: 100px;
    padding-top: 40px;
    /* padding-left: 50px; */
}
 #p1
{
    font-family: "Yeseva One";
    font-size: 45px;
    padding-top: 70px;
    color: #feedda;
    margin: 0px;
    margin-top: 10px;
}
#p12
{
    font-family: "Yeseva One";
    color: #feedda;
    /* padding-left: 100px; */
    font-size: 45px;
    margin: 0px;
    font-weight: 900;
}
 #p2
{
    font-size: 25px;
    color: #feedda;
    margin-right: 100px;
    padding: 20px 100px 20px 0px;
}
#b2
{
    border: 0px;
    border-radius: 5px;
    /* margin-left: 100px; */
    font-family: "Yeseva One";
    color: #b13941;
    background-color: #feedda;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
}

.parent3
{
    width: 100%;
    display: flex;
}
.page3img
{
    width: 40%;
}
.page3img img
{
    width: 100%;
}
.parent3
{
    background-color: #feedda;
    display:flex;
}
.mydiv2
{
    width: 60%;
    padding-top: 100px;
    padding-left: 70px;
}
#Best1
{
    font-size: 75px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 300;
    font-family: "Yeseva One";
    margin: 0px;
}
#Best2
{
    font-size: 21px;
    margin-right: 100px;
    padding: 50px 0px 30px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
}
span
{
    font-size: 21px;
    font-family: "PT Serif";
}
.Menu
{
    margin:  0px;
    background-color: #b13941;
    padding-top: 0px;
    padding: 100px 0px;
}
.menu29
{
    padding: 0px 100px;
    margin: 0px 100px;
}
#mtitle
{
    margin-top: 0PX;
    font-size: 60px;
    font-family: "Yeseva One";
    text-align: center;
    color: #feedda;
}
#mpara
{
    /* padding-top: 20px; */
    padding: 20px 30px 0px;
    font-size: 25px;
    text-align: center;
    color: #feedda;
}
.allcards
{
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 50px;
}
.card img
{
    width: 150px;
}
.card
{
    display: flex;
    width: 30%;
    background-color: #efefef;
    /* padding: 10px 5px 10px 25px; */

}
.child
{
    padding: 10px 5px 10px 25px;
}
#mp1
{
    font-size: 35px;
}
#mp2
{
    font-size: 15px;
    margin: 15px 0px;
}
.b3
    {
    margin-bottom: 20px;
    margin-top: 20px;
    border: 0px;
    padding: 10px 30px;
    font-family: "Yeseva One";
    color: #feedda;
    background-color: #b13941;
    font-size: 15px;
}   
.janu
{
    background-color: #f8eed3;
    padding: 100px 0px;
}
#bm1
{
    text-transform: capitalize;
    font-size: 70px;
    color: #b13941;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
    margin-top: 0px;
}
#bm2
{
    font-size: 25px;
    margin: 0px 100px;
    padding: 20px 100px 80px;
    color: #b13941;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
}
.card2
{
    display: inline-block;
    background-color: white;
    width: 25%;
}
#br1
{
    text-align: center;
    font-size: medium;
    color: black;
    padding: 30px 35px;
}
#br2
{
    font-family: "Yeseva One";
    background-color: #b13941;
    font-size: 15px;
    padding: 10px 40px;
    border: 0px;
    margin: 20px 0px 20px 100px;
}
.allcards2{
    display: flex;
    justify-content: space-evenly;
}
.Company-profile
{
    background-color: #b13941;
    display: flex;
}
.header6
{
    position: relative;
}
#bhargav65
{
    width: 100%;
    font-size: 40px;
    z-index: 2;
    position: absolute;
    top: 230px;
    left: 320px;
}
.movie
{
    width: 50%;
    position: relative;
    padding: 100px;
}
#movie12
{
    width: 100%;
    z-index: 1;
}
#dubal
{
    width: 100%;
    z-index: 1;
    position: absolute;
    padding: 100px;
    top: 0px;
    left: 0px;
}
.company-content
{
    width: 50%;
    margin-top: 100px;
}
#Company-Profile2
{
    font-size: 45px;
    font-family: "Yeseva One";
    font-weight: 400;
    color: #feedda;
    padding-top: 40px;
}
#profile-content
{
    font-size: 21px;
    color: #feedda;
    font-family: "PT Serif";
    padding: 20px 100px 0px 0px;  
}
#movie22
{
    padding: 20px 20px 0px 0px;
}
.icon
{
    display: flex;
}
.Contact-us
{
    display: flex;
}
.address
{
    width: 40%;
}
.address img
{
    width: 520px;
}
#ctitle
{
    font-size: 55px;
    margin-left: 60px;
    /* padding-top: 30px; */
    color: #cd363f;
    padding: 60px 0px 20px;
}
.Inputside
{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* padding-top: 100px; */
}
#input1
{
    margin-left: 60px;
    background-color: #efefef;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
}
#input2
{
    margin-left: 60px;
    background-color: #efefef;
    width: 80%;
    padding: 10px 0px 100px 10px;
}
#b5
{
    margin-top: 40px;
    margin-left: 60px;
    border: 0px;
    font-family: "Yeseva One";
    color: #feedda;
    background-color: #b13941;
    font-size: 20px;
    width: 25%;
    padding: 10px 0px;
}

/* page = page7 End */
/* page = page8 Strat */

.lastdata
{
    display: flex;
    justify-content: space-around;
    background-color: #b13941;
    width: 100%;
    padding: 70px 0px;
    color: #efefef;
    font-weight: 400;
    font-family: "PT Serif";
}
#coffee1
{
    width: 250px;
    padding: 0px 20px;
}
.lasttable
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
li
{
    list-style-type: none;
    padding: 6px 40px;
    font-size: 20px;
}
.table1
{
    width: 20%;
}
#data1
{
    font-size: 30px;
    padding-left: 50px;
}
#data2,#data3
{
    font-size: 20px;
    padding: 40px 80px 30px 50px;
}
#data5
{
    padding: 23px 0px;
    font-size: 20px;
    padding-right: 30px;
    /* margin-left: 30px; */
}
.data4
{
    margin-left: 30px;
}